@page
@model IndexModel
@{
    ViewData["Title"] = "VidCore";
}

<div class="header">
    <h1>VidCore</h1>

    <p>Добро пожаловать на VidCore - ваш источник видео контента!</p>
</div>

<hr />

<form method="get" style="display: flex; justify-content: flex-end; size: 3px;">
    <input type="text"
           name="search"
           value="@Model.Search"
           placeholder="Поиск видео..." />

    <button type="submit">Поиск</button>
</form>


<h2 style="position:center">Videos</h2>
<div class="video-grid">

    @foreach(var video in Model.Videos)
    {
        <div class="video-card">

            <a href="/VideoView?id=@video.Id"
               class="video-link">

                <img src="@video.ThumbnailPath"
                     alt="@video.Title"
                     class="video-thumbnail" />

                <div class="video-info">

                    <div class="video-title">
                        @video.Title
                    </div>

                    <div class="video-meta">
                        @video.Views views
                    </div>

                </div>

            </a>

        </div>
    }

</div>

<hr />
<h2 style="position:center">Posts</h2>
<a style="height: 59%; weight: 59%">В разработке :( </a>