@page
@model VideoViewModel
@{
    ViewData["Title"] = "Video View";
}


<h1>@Model.CurrentVideo.Title</h1>
 
<p>@Model.CurrentVideo.Description</p>
<div class="video-stats">
    <span>👁 @Model.CurrentVideo.Views</span>
    <span>👍 @Model.CurrentVideo.Likes</span>
    <span>@Model.GetTimeSinceUpload()</span>

</div>
<input type="hidden" name="id" value="@Model.CurrentVideo.Id" />

<video id="player" controls>
    <source src="@Model.CurrentVideo.VideoPath">
</video>

<script>
document.addEventListener("DOMContentLoaded", function() {
    const player = new Plyr('#player');
});
</script>


<hr />
<h2>Комментарии</h2>

@foreach(var comment in Model.Comments)
{
    <div class="comment-card">
        <strong>@comment.Author</strong>
        <span>@comment.UploadDate.ToString("dd.MM.yyyy HH:mm")</span>
        <p>@comment.Text</p>
    </div>
}


<hr />


<h2>Edit Video</h2>

<form method="post">

    <button type="submit" asp-page-handler="Like" class="btn btn-primary">
       👍
    </button>

    <button type="button" onclick="shareVideo(@Model.CurrentVideo.Id)" class="btn btn-primary">
        💿
    </button>
    @Html.AntiForgeryToken()


    @section Scripts {
<script>
    async function shareVideo(id) {
        const token = document.querySelector('input[name="__RequestVerificationToken"]').value;

        try {
            const response = await fetch(`?handler=Share&id=${id}`, {
                method: 'POST',
                headers: {
                    'RequestVerificationToken': token
                }
            });

            if (response.ok) {
                const data = await response.json();
                await navigator.clipboard.writeText(data.textToCopy);
                
                alert("Ссылка скопирована в буфер обмена!");
            } else {
                alert("Видео не найдено или произошла ошибка.");
            }
        } catch (err) {
            console.error('Ошибка выполнения запроса:', err);
        }
    }
</script>
}

    <div>
        <h3>Комментарий</h3>
        <textarea asp-for="CText"
          rows="4"
          cols="50"
          placeholder="Напишите комментарий...">
        </textarea>
    </div>
    <button type="submit" asp-page-handler="Comment" class="btn btn-primary">
       Добавить Комментарий
    </button>

    <input type="hidden" name="id" value="@Model.CurrentVideo.Id" />

    <button class="DeleteBtn" type="submit" asp-page-handler="Delete">
        Удалить видео
    </button>

    <label for="Title">Видео Title:</label>
    <input type="text" id="Title" name="Title" placeholder="Введите название видео">
    
    <label for="Description">Описание:</label>
    <textarea id="Description" name="Description" rows="5" cols="40" placeholder="Напишите здесь ваше описание..."></textarea>

    <button type="submit" asp-page-handler="Edit" class="btn btn-primary">
        Редактировать видео
    </button>
</form>






